<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      th:replace="~{/layout/admin/IndexAdmin :: dynamic(~{:: main})}">
<body>
<main>
    <div class="home-tab">
        <div class="d-sm-flex align-items-center justify-content-between border-bottom">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active ps-0" id="home-tab" data-bs-toggle="tab"
                       href="#tab1" role="tab"
                       aria-controls="tab1" aria-selected="true">Active Product Detail</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#tab2"
                       aria-controls="tab2" role="tab"
                       aria-selected="false">Product Detail Inactive</a>
                </li>
            </ul>
        </div>
        <div class="tab-content tab-content-basic">
            <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1">
                <div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item active" aria-current="page">Index Product Detail</li>
                    </ul>
                </div>
                <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">List Product Detail Active</h4>
                            <div class="row">
                                <div class="col-sm-3">
                                    <a th:href="@{|/mangostore/admin/product-detail/create|}" type="button"
                                       class="btn btn-info btn-lg">Add Product Detail</a>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <form id="productFilterForm" onsubmit="return false;">
                                            <div class="row">
                                                <div class="row">
                                                    <div class="col-sm-2 form-group">
                                                        <input type="text" class="form-control" name="keyword"
                                                               placeholder="Search Name Product"/>
                                                    </div>
                                                </div>

                                                <div class="col-sm-2 form-group">
                                                    <select class="form-control" name="sortByPrice">
                                                        <option value="">Sort by Price</option>
                                                        <option value="asc">Price Low to High</option>
                                                        <option value="desc">Price High to Low</option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-2 form-group">
                                                    <select class="form-control" name="material">
                                                        <option value="">Material</option>
                                                        <option th:each="material : ${materials}"
                                                                th:value="${material.id}"
                                                                th:text="${material.nameMaterial}"></option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-2 form-group">
                                                    <select class="form-control" name="size">
                                                        <option value="">Size</option>
                                                        <option th:each="size : ${sizes}" th:value="${size.id}"
                                                                th:text="${size.nameSize}"></option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-2 form-group">
                                                    <select class="form-control" name="color">
                                                        <option value="">Color</option>
                                                        <option th:each="color : ${colors}" th:value="${color.id}"
                                                                th:text="${color.nameColor}"></option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-2 form-group">
                                                    <select class="form-control" name="origin">
                                                        <option value="">Origin</option>
                                                        <option th:each="origin : ${origins}" th:value="${origin.id}"
                                                                th:text="${origin.nameOrigin}"></option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-2 form-group">
                                                    <select class="form-control" name="category">
                                                        <option value="">Category</option>
                                                        <option th:each="category : ${categories}"
                                                                th:value="${category.id}"
                                                                th:text="${category.nameCategory}"></option>
                                                    </select>
                                                </div>

                                                <div class="col-sm-2 form-group">
                                                    <button type="button" class="btn btn-primary btn-lg"
                                                            onclick="applyFilters()">Fillter
                                                    </button>
                                                </div>
                                                <div class="col-sm-2 form-group">

                                                    <button type="button" class="btn btn-primary btn-lg"
                                                            onclick="refreshData()">Refresh
                                                    </button>
                                                </div>

                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <!--                            <div  class="table-responsive">-->
                                <div id="content2" class="content" style="height: 500px">
                                    <div class="header">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th style="width: 30px">#</th>
                                                <th style="width: 139px">ImagesProduct</th>
                                                <th style="width: 172px">Name</th>
                                                <th style="width: 172px">Price</th>
                                                <th style="width: 172px">Size</th>
                                                <th style="width: 172px">Color</th>
                                                <th style="width: 95px">Material</th>
                                                <th style="width: 95px">Origin</th>
                                                <th style="width: 100px">Describe</th>
                                                <th style="width: 85px">Quantity</th>
                                                <th style="width: 84px">Status</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <!-- Your product detail rows here -->
                                            <tr th:each="listProductDetail, stat : ${listProductDetail}">
                                                <td style="width: 30px" th:text="${stat.count}"></td>
                                                <td style="width: 139px">
                                                    <img th:if="${listProductDetail.product.images != null && listProductDetail.product.images.imagesFile != null}"
                                                         th:src="@{|/images/product/${listProductDetail.product.images.imagesFile}|}"
                                                         alt="image" style="width: 116px; height: 132px">
                                                </td>
                                                <td style="width: 172px; word-break: break-all">
                                                    <a th:href="@{|/mangostore/admin/product-detail/edit/${listProductDetail.id}|}"
                                                       th:text="${listProductDetail.product.nameProduct}"
                                                       style="text-decoration: none">
                                                    </a>
                                                </td>
                                                <td class="price-cell" style="width: 95px"
                                                    th:text="${#numbers.formatInteger(listProductDetail.price, 0, 'POINT') + ' VND'}"></td>
                                                <td style="width: 95px"
                                                    th:text="${listProductDetail.size.nameSize}"></td>
                                                <td style="width: 95px"
                                                    th:text="${listProductDetail.color.nameColor}"></td>
                                                <td style="width: 95px"
                                                    th:text="${listProductDetail.material.nameMaterial}"></td>
                                                <td style="width: 95px"
                                                    th:text="${listProductDetail.origin.nameOrigin}"></td>
                                                <td style="width: 100px" th:text="${listProductDetail.describe}"></td>
                                                <td style="width: 85px" th:text="${listProductDetail.quantity}"></td>
                                                <td style="width: 84px" th:if="${listProductDetail.productStatus == 1}">
                                                    <label class="badge badge-success">Còn hàng</label>
                                                </td>
                                            </tr>
                                            <tr th:if="${listProductDetail.isEmpty()}">
                                                <td colspan="9"
                                                    style="text-align: center; color: red; font-size: larger;">
                                                    Product Detail is empty
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <!--                                        <nav aria-label="Page navigation example">-->
                                        <!--                                            <ul class="pagination justify-content-center">-->
                                        <!--                                                &lt;!&ndash; Pagination links here &ndash;&gt;-->
                                        <!--                                                <li class="page-item" id="firstPage">-->
                                        <!--                                                    <a class="page-link" href="#" onclick="goToPage(0)">First</a>-->
                                        <!--                                                </li>-->
                                        <!--                                                <li class="page-item" id="previousPage">-->
                                        <!--                                                    <a class="page-link" href="#" onclick="previousPage()">Previous</a>-->
                                        <!--                                                </li>-->
                                        <!--                                                <div id="currentPageDisplay">-->
                                        <!--                                                    Current Page: <span th:text="${currentPage}"></span>-->
                                        <!--                                                </div>-->
                                        <!--                                                <li class="page-item" id="nextPage">-->
                                        <!--                                                    <a class="page-link" href="#" onclick="nextPage()">Next</a>-->
                                        <!--                                                </li>-->
                                        <!--                                                <li class="page-item" id="lastPage">-->
                                        <!--                                                    <a class="page-link" href="#" th:attr="onclick='goToPage(' + (${totalPages - 1}) + ')'">Last</a>-->
                                        <!--                                                </li>-->
                                        <!--                                            </ul>-->
                                        <!--                                        </nav>-->
                                        <!-- Hidden elements for pagination info -->
                                        <div id="paginationInfo" style="display:none;">
                                            <span id="totalPages" th:text="${totalPages}"></span>
                                            <span id="totalItems" th:text="${totalItems}"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="tab2" role="tabpanel"
                 aria-labelledby="tab2">
                <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">List Product Inactive</h4>
                            <div class="table-responsive">
                                <div class="header">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th style="width: 30px">#</th>
                                            <th style="width: 122px">ImagesProduct</th>
                                            <th style="width: 115px">Name</th>
                                            <th style="width: 70px">Material</th>
                                            <th style="width: 70px">Origin</th>
                                            <th style="width: 70px">Describe</th>
                                            <th style="width: 124px">Quantity</th>
                                            <th style="width: 70px">Status</th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                                <div class="content" style="height: 395px">
                                    <table class="table table-hover">
                                        <tbody>
                                        <tr th:each="productDetail, stat : ${listProductDetailInactive}">
                                            <td style="width: 30px" th:text="${stat.count}"></td>
                                            <td style="width: 122px"><img
                                                    th:src="@{|/images/product/${productDetail.product.images.imagesFile}|}"
                                                    alt="image" style="width: 116px; height: 132px">
                                            </td>
                                            <td style="width: 115px; word-break: break-all"
                                                th:text="${productDetail.product.nameProduct + '(' + productDetail.size.nameSize + ', ' + productDetail.color.nameColor + ')'}"></td>
                                            <td style="width: 70px"
                                                th:text="${productDetail.material.nameMaterial}"></td>
                                            <td style="width: 70px"
                                                th:text="${productDetail.origin.nameOrigin}"></td>
                                            <td style="width: 70px"
                                                th:text="${productDetail.describe}"></td>
                                            <td style="width: 124px">
                                                <input type="hidden" name="id" class="idProductDetail"
                                                       th:value="${productDetail.id}">
                                                <th:block th:if="${productDetail.quantity == 0}">
                                                    <label>
                                                        <input type="number" style="width: 70px" name="quantity"
                                                               class="quantityNew"
                                                               th:value="${productDetail.quantity}">
                                                    </label>
                                                </th:block>
                                                <th:block th:unless="${productDetail.quantity == 0}">
                                                    <input type="text" style="width: 70px" name="quantity"
                                                           class="quantityOld"
                                                           th:value="${productDetail.quantity}" readonly>
                                                </th:block>
                                                <button type="submit" th:text="Save" class="btn btn-info"
                                                        onclick="restoreProductDetail(this)"></button>
                                            </td>

                                            <td style="width: 70px" th:if="${productDetail.productStatus == 1}">
                                                <label class="badge badge-success">Còn hàng</label>
                                            </td>

                                            <td th:if="${productDetail.productStatus == 0}">
                                                <label class="badge badge-danger">Hết hàng</label>
                                            </td>
                                        </tr>
                                        <tr th:if="${#lists.isEmpty(listProductDetailInactive)}">
                                            <td colspan="8" style="text-align: center; color: red; font-size: larger;">
                                                Product Inactive is empty
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</main>
</body>
</html>