<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      th:replace="~{/layout/admin/IndexAdmin :: dynamic(~{:: main})}">
<body>
<main class="showImage AddAccount restorePage">
    <div class="home-tab">
        <div class="d-sm-flex align-items-center justify-content-between border-bottom">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active ps-0" id="home-tab" data-bs-toggle="tab"
                       href="#tab1" role="tab"
                       aria-controls="tab1" aria-selected="true">Active Staff</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#tab2"
                       aria-controls="tab2" role="tab"
                       aria-selected="false">Staff Inactive</a>
                </li>
            </ul>
        </div>
        <div class="tab-content tab-content-basic">
            <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1">

                <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body" style="height: 602px;">
                            <th:block th:if="${checkIndexAccount == true}">
                                <button type="button" class="btn btn-info btn-lg" data-toggle="modal"
                                        data-target="#myModal">Add Staff
                                </button>
                            </th:block>
                            <div class="modal fade" id="myModal" role="dialog" style="padding-left: 34px">
                                <div class="modal-dialog" style="max-width: 80%; margin-left: 187px;">
                                    <div class="modal-content" style="height: 70vh;">
                                        <div class="modal-header" style="padding-bottom: 6px">
                                            <h4 class="modal-title">Add Staff</h4>
                                        </div>
                                        <form id="formAddAccount" th:action="@{/mangostore/admin/add-staff}"
                                              th:object="${addProfile}"
                                              method="post">
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col-md-7 d-flex align-items-stretch">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <label class="form-label">FullName:</label>
                                                                    <input type="text"
                                                                           class="form-control"
                                                                           name="fullName" id="fullNameInput"
                                                                           placeholder="Enter FullName">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <label class="form-label">Number Phone:</label>
                                                                    <input type="text"
                                                                           class="form-control"
                                                                           name="numberPhone"
                                                                           id="numberPhoneInput"
                                                                           placeholder="Enter Number Phone">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <label class="form-label">Email:</label>
                                                                    <input type="email"
                                                                           class="form-control"
                                                                           name="email"
                                                                           id="emailInput"
                                                                           placeholder="Enter The Email">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-7">
                                                                <div class="form-group">
                                                                    <label class="form-label">Birthday:</label>
                                                                    <input type="date"
                                                                           class="form-control"
                                                                           name="birthday"
                                                                           id="birthdaytInput"
                                                                           placeholder="Enter The Birthday">

                                                                </div>
                                                            </div>
                                                            <div class="col-md-5">
                                                                <div class="form-group">
                                                                    <label class="form-label">Gender:</label>
                                                                    <div class="form-control">
                                                                        <label>
                                                                            <input type="radio"
                                                                                   name="gender"
                                                                                   value="true"
                                                                                   th:text="Nam"
                                                                                   checked>
                                                                        </label>&nbsp;
                                                                        <label>
                                                                            <input type="radio"
                                                                                   name="gender"
                                                                                   value="false"
                                                                                   th:text="Nu">
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <label class="form-label">Password:</label>
                                                                    <input type="password"
                                                                           class="form-control"
                                                                           name="encryptionPassword"
                                                                           id="encryptionPassword"
                                                                           placeholder="Enter Password"/>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <label class="form-label"> Enter the
                                                                        password:</label>
                                                                    <input type="password"
                                                                           class="form-control"
                                                                           name="encryptionPassword"
                                                                           id="EnterPassword"
                                                                           placeholder="Enter the Password"/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-5 d-flex align-items-stretch">
                                                        <div class="info-wrap bg-primary w-100 p-lg-5 p-4">
                                                            <div class="form-group">
                                                                <img id="previewImage"
                                                                     style="width: 200px; height: 200px; object-fit: cover;"
                                                                     alt=""
                                                                     src=""/>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="media-body ml-4">
                                                                    <label class="btn btn-outline-primary">
                                                                        Upload new photo
                                                                        <input type="file"
                                                                               class="account-settings-fileinput"
                                                                               id="imageInput"
                                                                               name="images"
                                                                               accept="image/profile/*">
                                                                    </label> &nbsp;
                                                                    <button type="button"
                                                                            class="btn btn-default md-btn-flat">
                                                                        Reset
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <input type="button"
                                                               value="Save" onclick="addAccount()"
                                                               class="btn btn-primary">
                                                        <button type="button" class="btn btn-default"
                                                                data-dismiss="modal">
                                                            Close
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <h6>List Manager</h6>
                                    <div class="table-responsive">
                                        <div class="header">
                                            <table class="table table-striped">
                                                <thead>
                                                <tr>
                                                    <th style="width: 30px">#</th>
                                                    <th style="width: 117px">FullName</th>
                                                    <th style="width: 139px">NumberPhone</th>
                                                    <th style="width: 172px">Email</th>
                                                    <th style="width: 100px">Birthday</th>
                                                    <th style="width: 100px">Gender</th>
                                                    <th style="width: 100px">Images</th>
                                                    <th style="width: 100px">Address</th>
                                                    <th style="width: 84px">Status</th>
                                                </tr>
                                                </thead>
                                            </table>
                                        </div>
                                        <div class="content" style="height: 417px">
                                            <table class="table table-hover">
                                                <tbody>
                                                <tr th:each="listManager, stat : ${listManager}">
                                                    <td style="width: 30px" th:text="${stat.count}"></td>
                                                    <td style="width: 117px">
                                                        <a th:href="@{|/mangostore/admin/list-staff/detail/${listManager.id}|}"
                                                           th:text="${listManager.fullName}"
                                                           style="text-decoration: none"></a>
                                                    </td>
                                                    <td style="width: 139px" th:text="${listManager.numberPhone}"></td>
                                                    <td style="width: 172px" th:text="${listManager.email}"></td>
                                                    <td style="width: 100px"
                                                        th:text="${#temporals.format(listManager.birthday, 'dd/MM/yyyy')}"></td>
                                                    <td style="width: 100px" th:if="${listManager.gender != null}"
                                                        th:text="${listManager.gender == true ? 'Nam' : 'Nu'}"></td>
                                                    <td style="width: 100px"
                                                        th:unless="${listManager.gender != null}"></td>
                                                    <td style="width: 100px" th:if="${listManager.Images  != null}">
                                                        <img th:src="@{|/images/profile/${listManager.Images}|}"
                                                             alt="Images"
                                                             style="width: 92px; height: 90px">
                                                    </td>
                                                    <td style="width: 100px"
                                                        th:unless="${listManager.Images  != null}"></td>
                                                    <th:block th:if="${listManager.addressClient == null}">
                                                        <td style="width: 100px">No Address</td>
                                                    </th:block>
                                                    <th:block th:unless="${listManager.addressClient == null}">
                                                        <td style="width: 100px"
                                                            th:text="${listManager.addressClient.province}"></td>
                                                    </th:block>
                                                    <td style="width: 84px" th:if="${listManager.status == 1}">
                                                        <label class="badge badge-success">Active</label>
                                                    </td>

                                                </tr>
                                                <tr th:if="${listManager.isEmpty()}">
                                                    <td colspan="9"
                                                        style="text-align: center; color: red; font-size: larger;">
                                                        Staff is entity
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h6>List Staff</h6>
                                    <div class="table-responsive">
                                        <div class="header">
                                            <table class="table table-striped">
                                                <thead>
                                                <tr>
                                                    <th style="width: 30px">#</th>
                                                    <th style="width: 117px">FullName</th>
                                                    <th style="width: 139px">NumberPhone</th>
                                                    <th style="width: 172px">Email</th>
                                                    <th style="width: 100px">Birthday</th>
                                                    <th style="width: 100px">Gender</th>
                                                    <th style="width: 100px">Images</th>
                                                    <th style="width: 100px">Address</th>
                                                    <th style="width: 84px">Status</th>
                                                </tr>
                                                </thead>
                                            </table>
                                        </div>
                                        <div class="content" style="height: 417px">
                                            <table class="table table-hover">
                                                <tbody>
                                                <tr th:each="listStaff, stat : ${listStaff}">
                                                    <td style="width: 30px" th:text="${stat.count}"></td>
                                                    <td style="width: 117px">
                                                        <a th:href="@{|/mangostore/admin/list-staff/detail/${listStaff.id}|}"
                                                           th:text="${listStaff.fullName}"
                                                           style="text-decoration: none"></a>
                                                    </td>
                                                    <td style="width: 139px" th:text="${listStaff.numberPhone}"></td>
                                                    <td style="width: 172px" th:text="${listStaff.email}"></td>
                                                    <td style="width: 100px"
                                                        th:text="${#temporals.format(listStaff.birthday, 'dd/MM/yyyy')}"></td>
                                                    <td style="width: 100px" th:if="${listStaff.gender != null}"
                                                        th:text="${listStaff.gender == true ? 'Nam' : 'Nu'}"></td>
                                                    <td style="width: 100px"
                                                        th:unless="${listStaff.gender != null}"></td>
                                                    <td style="width: 100px" th:if="${listStaff.Images  != null}">
                                                        <img th:src="@{|/images/profile/${listStaff.Images}|}"
                                                             alt="Images"
                                                             style="width: 92px; height: 90px">
                                                    </td>
                                                    <td style="width: 100px"
                                                        th:unless="${listStaff.Images  != null}"></td>
                                                    <th:block th:if="${listStaff.addressClient == null}">
                                                        <td style="width: 100px">No Address</td>
                                                    </th:block>
                                                    <th:block th:unless="${listStaff.addressClient == null}">
                                                        <td style="width: 100px"
                                                            th:text="${listStaff.addressClient.province}"></td>
                                                    </th:block>
                                                    <td style="width: 84px" th:if="${listStaff.status == 1}">
                                                        <label class="badge badge-success">Active</label>
                                                    </td>
                                                </tr>
                                                <tr th:if="${listStaff.isEmpty()}">
                                                    <td colspan="9"
                                                        style="text-align: center; color: red; font-size: larger;">
                                                        Staff is entity
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="tab2" role="tabpanel"
                 aria-labelledby="tab2">
                <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body" style="height: 602px;">
                            <div class="row">
                                <div class="col-md-6">
                                    <h6>List Manager Inactive</h6>
                                    <div class="table-responsive">
                                        <div class="header">
                                            <table class="table table-striped">
                                                <thead>
                                                <tr>
                                                    <th style="width: 50px">#</th>
                                                    <th style="width: 110px">FullName</th>
                                                    <th style="width: 90px">NumberPhone</th>
                                                    <th style="width: 172px">Email</th>
                                                    <th style="width: 100px">Birthday</th>
                                                    <th style="width: 100px">Gender</th>
                                                    <th style="width: 100px">Images</th>
                                                    <th style="width: 100px">Address</th>
                                                    <th style="width: 100px">Status</th>
                                                </tr>
                                                </thead>
                                            </table>
                                        </div>
                                        <div class="content" style="height: 455px">
                                            <table class="table table-hover">
                                                <tbody>
                                                <tr th:each="listManagerInactive, stat : ${listManagerInactive}">
                                                    <td style="width: 30px" th:text="${stat.count}"></td>
                                                    <td style="width: 110px">
                                                        <button class="btn btn-outline-info" type="button"
                                                                th:data-id="${listManagerInactive.id}"
                                                                onclick="restoreStaff(this)"
                                                                style="text-decoration: none">
                                                            [[*{listManagerInactive.fullName}]]
                                                        </button>
                                                    </td>
                                                    <td style="width: 139px"
                                                        th:text="${listManagerInactive.numberPhone}"></td>
                                                    <td style="width: 172px"
                                                        th:text="${listManagerInactive.email}"></td>
                                                    <td style="width: 100px"
                                                        th:text="${#temporals.format(listManagerInactive.birthday, 'dd/MM/yyyy')}"></td>
                                                    <td style="width: 100px"
                                                        th:if="${listManagerInactive.gender != null}"
                                                        th:text="${listManagerInactive.gender == true ? 'Nam' : 'Nu'}"></td>
                                                    <td style="width: 100px"
                                                        th:unless="${listManagerInactive.gender != null}"></td>
                                                    <td style="width: 100px"
                                                        th:if="${listManagerInactive.Images  != null}">
                                                        <img th:src="@{|/images/profile/${listManagerInactive.Images}|}"
                                                             alt="Images"
                                                             style="width: 92px; height: 90px">
                                                    </td>
                                                    <td style="width: 100px"
                                                        th:unless="${listManagerInactive.Images  != null}"></td>

                                                    <th:block th:if="${listManagerInactive.addressClient == null}">
                                                        <td style="width: 100px">No Address</td>
                                                    </th:block>
                                                    <th:block th:unless="${listManagerInactive.addressClient == null}">
                                                        <td style="width: 100px"
                                                            th:text="${listManagerInactive.addressClient.province}"></td>
                                                    </th:block>
                                                    <td style="width: 84px" th:if="${listManagerInactive.status == 0}">
                                                        <label class="badge badge-danger">Inactive</label>
                                                    </td>

                                                </tr>
                                                <tr th:if="${listManagerInactive.isEmpty()}">
                                                    <td colspan="9"
                                                        style="text-align: center; color: red; font-size: larger;">
                                                        Manager Inactive is entity
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <h6>List Staff Inactive</h6>
                                    <div class="table-responsive">
                                        <div class="header">
                                            <table class="table table-striped">
                                                <thead>
                                                <tr>
                                                    <th style="width: 50px">#</th>
                                                    <th style="width: 110px">FullName</th>
                                                    <th style="width: 90px">NumberPhone</th>
                                                    <th style="width: 172px">Email</th>
                                                    <th style="width: 100px">Birthday</th>
                                                    <th style="width: 100px">Gender</th>
                                                    <th style="width: 100px">Images</th>
                                                    <th style="width: 100px">Address</th>
                                                    <th style="width: 100px">Status</th>
                                                </tr>
                                                </thead>
                                            </table>
                                        </div>
                                        <div class="content" style="height: 455px">
                                            <table class="table table-hover">
                                                <tbody>
                                                <tr th:each="listStaffInactive, stat : ${listStaffInactive}">
                                                    <td style="width: 30px" th:text="${stat.count}"></td>
                                                    <td style="width: 110px">
                                                        <button class="btn btn-outline-info" type="button"
                                                                th:data-id="${listStaffInactive.id}"
                                                                onclick="restoreStaff(this)"
                                                                style="text-decoration: none">
                                                            [[*{listStaffInactive.fullName}]]
                                                        </button>
                                                    </td>
                                                    <td style="width: 139px"
                                                        th:text="${listStaffInactive.numberPhone}"></td>
                                                    <td style="width: 172px" th:text="${listStaffInactive.email}"></td>
                                                    <td style="width: 100px"
                                                        th:text="${#temporals.format(listStaffInactive.birthday, 'dd/MM/yyyy')}"></td>
                                                    <td style="width: 100px" th:if="${listStaffInactive.gender != null}"
                                                        th:text="${listStaffInactive.gender == true ? 'Nam' : 'Nu'}"></td>
                                                    <td style="width: 100px"
                                                        th:unless="${listStaffInactive.gender != null}"></td>
                                                    <td style="width: 100px"
                                                        th:if="${listStaffInactive.Images  != null}">
                                                        <img th:src="@{|/images/profile/${listStaffInactive.Images}|}"
                                                             alt="Images"
                                                             style="width: 92px; height: 90px">
                                                    </td>
                                                    <td style="width: 100px"
                                                        th:unless="${listStaffInactive.Images  != null}"></td>
                                                    <th:block th:if="${listStaffInactive.addressClient == null}">
                                                        <td style="width: 100px">No Address</td>
                                                    </th:block>
                                                    <th:block th:unless="${listStaffInactive.addressClient == null}">
                                                        <td style="width: 100px"
                                                            th:text="${listStaffInactive.addressClient.province}"></td>
                                                    <td style="width: 84px" th:if="${listStaffInactive.status == 0}">
                                                        <label class="badge badge-danger">Inactive</label>
                                                    </td>

                                                </tr>
                                                <tr th:if="${listStaffInactive.isEmpty()}">
                                                    <td colspan="9"
                                                        style="text-align: center; color: red; font-size: larger;">
                                                        Staff Inactive is entity
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>