<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      th:replace="~{/layout/admin/IndexAdmin :: dynamic(~{:: main})}">
<body>
<main class="restoreSizePage">
    <div class="home-tab">
        <div class="d-sm-flex align-items-center justify-content-between border-bottom">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active ps-0" id="home-tab" data-bs-toggle="tab"
                       href="#tab1" role="tab"
                       aria-controls="tab1" aria-selected="true">Kích cỡ đang hoạt động</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#tab2"
                       aria-controls="tab2" role="tab"
                       aria-selected="false">Kích cỡ ngừng hoạt động</a>
                </li>
            </ul>
        </div>
        <div class="tab-content tab-content-basic">
            <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1">
                <div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item active" aria-current="page">Trang chủ kích cỡ</li>
                    </ul>
                </div>
                <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Danh sách kích cỡ đang hoạt động</h4>
                            <div class="row">
                                <div class="col-sm-3">
                                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal"
                                            data-target="#myModal">Thêm kích cỡ
                                    </button>
                                </div>
                                <div class="col-sm-7 form-group" style="margin-left: 100px;">
                                    <form action="/mangostore/admin/size" method="get">
                                        <input type="text" name="keyword" class="form-control" th:value="${keyword}"
                                               placeholder="Tìm kiếm kích cỡ theo tên"/>
                                    </form>
                                </div>
                            </div>
                            <div class="modal fade" id="myModal" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <form id="addSizeForm" th:action="@{/mangostore/admin/size/add}"
                                                  th:object="${addSize}" method="post"
                                                  onsubmit="return confirmAndSubmitSize(event)">
                                                <h3 class="mb-4">Thêm kích cỡ</h3>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="form-label"> Tên kích cỡ : </label>
                                                            <input type="text" class="form-control" name="nameSize"
                                                                   placeholder="Enter Name Size">
                                                            <span style="font-size: 15px;">Nếu thêm thuộc tính kích cỡ thì chỉ cần thêm tên mà không thêm từ "size" (ví dụ: "Size M", chỉ cần thêm "M")</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <button type="button" class="btn btn-default"
                                                                    data-dismiss="modal">Đóng lại
                                                            </button>
                                                            <button type="submit" class="btn btn-primary">Lưu lại
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <div class="header">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th style="width: 30px">#</th>
                                            <th style="width: 114px">Mã kích cỡ</th>
                                            <th style="width: 110px">Tên kích cỡ</th>
                                            <th style="width: 100px">Người tạo</th>
                                            <th style="width: 100px">Người cập nhật</th>
                                            <th style="width: 100px">Ngày tạo</th>
                                            <th style="width: 100px">Ngày cập nhật</th>
                                            <th style="width: 84px">Trạng thái</th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                                <div class="content" style="height: 333px">
                                    <table class="table table-hover">
                                        <tbody>
                                        <tr th:each="listSize, stat : ${listSize}">
                                            <td style="width: 30px" th:text="${stat.count}"></td>
                                            <td style="width: 114px">
                                                <a th:href="@{|/mangostore/admin/size/detail/${listSize.id}|}"
                                                   th:text="${listSize.codeSize}" style="text-decoration: none">
                                                </a>
                                            </td>
                                            <td style="width: 110px" th:text="${listSize.nameSize}"></td>
                                            <td style="width: 100px" th:text="${listSize.nameUserCreate}"></td>
                                            <td style="width: 100px" th:text="${listSize.nameUserUpdate}"></td>
                                            <td style="width: 100px"
                                                th:text="${#temporals.format(listSize.dateCreate, 'dd/MM/yyyy : HH:mm:ss')}"></td>
                                            <td style="width: 100px"
                                                th:text="${#temporals.format(listSize.dateUpdate, 'dd/MM/yyyy : HH:mm:ss')}"></td>
                                            <td style="width: 84px" th:if="${listSize.status == 1}">
                                                <label class="badge badge-success">Đang hoạt động</label>
                                            </td>
                                        </tr>
                                        <tr th:if="${listSize.isEmpty()}">
                                            <td colspan="9" style="text-align: center; color: red; font-size: larger;">
                                                Danh sách kích cỡ đang hoạt động trống
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="tab2" role="tabpanel"
                 aria-labelledby="tab2">
                <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Danh sách kích cỡ ngừng hoạt động</h4>
                            <div class="table-responsive">
                                <div class="header">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th style="width: 30px">#</th>
                                            <th style="width: 114px">Mã kích cỡ</th>
                                            <th style="width: 110px">Tên kích cỡ</th>
                                            <th style="width: 100px">Người tạo</th>
                                            <th style="width: 100px">Người cập nhật</th>
                                            <th style="width: 100px">Ngày tạo</th>
                                            <th style="width: 100px">Người cập nhật</th>
                                            <th style="width: 84px">Trạng thái</th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                                <div class="content" style="height: 452px">
                                    <table class="table table-hover">
                                        <tbody>
                                        <tr th:each="listSizeInactive, stat : ${listSizeInactive}">
                                            <td style="width: 30px" th:text="${stat.count}"></td>
                                            <td style="width: 114px">
                                                <button type="button" th:data-id="${listSizeInactive.id}"
                                                        class="btn btn-red"
                                                        onclick="restoreSize(this)"
                                                        style="text-decoration: none">[[*{listSizeInactive.codeSize}]]
                                                </button>
                                            </td>

                                            <td style="width: 110px" th:text="${listSizeInactive.nameSize}"></td>
                                            <td style="width: 100px" th:text="${listSizeInactive.nameUserCreate}"></td>
                                            <td style="width: 100px" th:text="${listSizeInactive.nameUserUpdate}"></td>
                                            <td style="width: 100px"
                                                th:text="${#temporals.format(listSizeInactive.dateCreate, 'dd/MM/yyyy : HH:mm:ss')}"></td>
                                            <td style="width: 100px"
                                                th:text="${#temporals.format(listSizeInactive.dateUpdate, 'dd/MM/yyyy : HH:mm:ss')}"></td>
                                            <td style="width: 84px" th:if="${listSizeInactive.status == 0}">
                                                <label class="badge badge-danger">Ngừng hoạt động</label>
                                            </td>
                                        </tr>
                                        <tr th:if="${listSizeInactive.isEmpty()}">
                                            <td colspan="9" style="text-align: center; color: red; font-size: larger;">
                                                Danh sách kích cỡ ngừng hoạt động trống
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>