<div xmlns:th="http://www.w3.org/1999/xhtml"
     th:replace="~{/layout/admin/IndexAdmin :: dynamic(~{:: main})}">
    <main class="addRankPage restoreRankPage">
        <div class="home-tab">
            <div class="d-sm-flex align-items-center justify-content-between border-bottom">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active ps-0" id="home-tab" data-bs-toggle="tab"
                           href="#tab1" role="tab"
                           aria-controls="tab1" aria-selected="true">Rank đang hoạt động</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#tab2"
                           aria-controls="tab2" role="tab"
                           aria-selected="false">Rank ngừng hoạt động</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content tab-content-basic">
                <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1">
                    <div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item active" aria-current="page">Trang chủ rank</li>
                        </ul>
                    </div>
                    <div class="col-lg-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Danh sách rank đang hoạt động</h4>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <button type="button" class="btn btn-info btn-lg" data-toggle="modal"
                                                data-target="#myModal">Thêm Rank
                                        </button>
                                    </div>
                                    <div class="col-sm-7">
                                        <form>
                                            <input type="text" name="keyword" class="form-control" th:value="${keyword}"
                                                   placeholder=" Tìm kiếm rank theo tên hoặc mã rank"/>
                                        </form>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <div class="header">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th style="width: 30px">#</th>
                                                <th style="width: 109px">Mã rank</th>
                                                <th style="width: 117px">Tên rank</th>
                                                <th style="width: 100px">Điểm tối thiểu</th>
                                                <th style="width: 100px">Điểm tối đa</th>
                                                <th style="width: 100px">Người tạo</th>
                                                <th style="width: 100px">Người cập nhật</th>
                                                <th style="width: 100px">Ngày tạo</th>
                                                <th style="width: 100px">Ngày cập nhật</th>
                                                <th style="width: 100px">Trạng thái</th>
                                            </tr>
                                            </thead>
                                        </table>
                                    </div>
                                    <div class="content" style="height: 335px">
                                        <table class="table table-hover">
                                            <tbody>
                                            <tr th:each="listRank, stat : ${listRank}">
                                                <td style="width: 30px" th:text="${stat.count}"></td>
                                                <td style="width: 109px">
                                                    <a th:href="@{|/mangostore/admin/rank/detail/${listRank.id}|}"
                                                       th:text="${listRank.codeRank}"
                                                       style="text-decoration: none">
                                                    </a>
                                                </td>
                                                <td style="width: 117px; word-break: break-all"
                                                    th:text="${listRank.nameRank}"></td>
                                                <td style="width: 100px"
                                                    th:text="${listRank.minimumScore}"></td>
                                                <td style="width: 100px"
                                                    th:text="${listRank.maximumScore}"></td>
                                                <td style="width: 100px" th:text="${listRank.userCreate}"></td>
                                                <td style="width: 100px" th:text="${listRank.userUpdate}"></td>
                                                <td style="width: 100px"
                                                    th:text="${#temporals.format(listRank.dateCreate, 'dd/MM/yyyy : HH:mm:ss')}"></td>
                                                <td style="width: 100px"
                                                    th:text="${#temporals.format(listRank.dateUpdate, 'dd/MM/yyyy : HH:mm:ss')}"></td>
                                                <td style="width: 100px" th:if="${listRank.status == 1}">
                                                    <label class="badge badge-success">Đang hoạt động</label>
                                                </td>
                                            </tr>
                                            <tr th:if="${listRank.isEmpty()}">
                                                <td colspan="9"
                                                    style="text-align: center; color: red; font-size: larger;">
                                                    Danh sách rank đang hoạt động trống
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="tab2" role="tabpanel"
                     aria-labelledby="tab2">
                    <div class="col-lg-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Danh sách rank ngừng hoạt động</h4>
                                <div class="table-responsive">
                                    <div class="header">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th style="width: 30px">#</th>
                                                <th style="width: 109px">Mã rank</th>
                                                <th style="width: 117px">Tên rank</th>
                                                <th style="width: 100px">Điểm tối thiểu</th>
                                                <th style="width: 100px">Điểm tối đa</th>
                                                <th style="width: 100px">Người tạo</th>
                                                <th style="width: 100px">Người cập nhật</th>
                                                <th style="width: 100px">Ngày tạo</th>
                                                <th style="width: 100px">Ngày cập nhật</th>
                                                <th style="width: 100px">Trạng thái</th>
                                            </tr>
                                            </thead>
                                        </table>
                                    </div>
                                    <div class="content" style="height: 452px">
                                        <table class="table table-hover">
                                            <tbody>
                                            <tr th:each="listRankInactive, stat : ${listRankInactive}">
                                                <td style="width: 30px" th:text="${stat.count}"></td>
                                                <td style="width: 109px">
                                                    <button type="button" class="btn btn-outline-info"
                                                            th:data-id="${listRankInactive.id}"
                                                            onclick="restoreRank(this)"
                                                            style="text-decoration: none">
                                                        [[*{listRankInactive.codeRank}]]
                                                    </button>
                                                </td>
                                                <td style="width: 117px;word-break: break-all"
                                                    th:text="${listRankInactive.nameRank}"></td>
                                                <td style="width: 100px"
                                                    th:text="${listRankInactive.minimumScore}"></td>
                                                <td style="width: 100px"
                                                    th:text="${listRankInactive.maximumScore}"></td>
                                                <td style="width: 100px"
                                                    th:text="${listRankInactive.userCreate}"></td>
                                                <td style="width: 100px"
                                                    th:text="${listRankInactive.userUpdate}"></td>
                                                <td style="width: 100px"
                                                    th:text="${#temporals.format(listRankInactive.dateCreate, 'dd/MM/yyyy : HH:mm:ss')}"></td>
                                                <td style="width: 100px"
                                                    th:text="${#temporals.format(listRankInactive.dateUpdate, 'dd/MM/yyyy : HH:mm:ss')}"></td>
                                                <td style="width: 100px" th:if="${listRankInactive.status == 0}">
                                                    <label class="badge badge-danger">Ngừng hoạt động</label>
                                                </td>
                                            </tr>
                                            <tr th:if="${listRankInactive.isEmpty()}">
                                                <td colspan="9"
                                                    style="text-align: center; color: red; font-size: larger;">
                                                    Danh sách rank ngừng hoạt động trống
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <form id="formRank" th:action="@{/mangostore/admin/rank/add}" th:object="${addRank}"
                              method="post">
                            <h3 class="mb-4">Thêm Rank</h3>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="form-label">Tên rank: </label>
                                                <input type="text"
                                                       class="form-control"
                                                       name="nameRank" id="nameRankInput"
                                                       placeholder="Mời nhập tên rank">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="form-label">Điểm tối thiểu: </label>
                                                <input type="number" id="minimumScore"
                                                       class="form-control"
                                                       name="minimumScore"
                                                       placeholder="Mời nhập diểm tối thiểu">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="form-label">Điểm tối đa: </label>
                                                <input type="number" id="maximumScore"
                                                       class="form-control"
                                                       name="maximumScore"
                                                       placeholder="Mời nhập điểm tối đa">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <button type="button" class="btn btn-default"
                                                data-dismiss="modal">Đóng lại
                                        </button>
                                        <input type="button"
                                               value="Lưu lại"
                                               onclick="addRankForm()"
                                               class="btn btn-primary">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>