td.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

td.d-flex .info {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

td.d-flex .info label {
    display: flex;
    align-items: center;
}

td.d-flex .edit-btn {
    margin-left: auto;
    margin-right: 10px;
}

.default-label {
    color: white;
    font-weight: bold;
    background-color: red;
    padding: 2px 4px;
    border-radius: 2px;
    display: inline-block;
    margin-left: 10px;
}